<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tbNames.tbNames_android_service">

    <permission android:name="tbNames.tbNames_android_service.PERMISSION_BIND"
        android:protectionLevel="normal" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"><service
			android:name="tbNames.tbNames_android_service.NamEsServiceAdapter"
			android:enabled="true"
			android:exported="true">
		</service>
    </application>
</manifest>