<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="goldenmaster_example">

    <application
        android:label="goldenmaster_example"
        android:theme="@android:style/Theme.Material.Light">
        <activity android:name=".GoldenmasterMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>